# DataLoader.py explanation

This seperate notebook file give a detailed explanation on the python file DataLoader.py


Basically, we pack all the data reading and cleaning process into a py file so that we could reuse all the code in the future.

The data loading foler is "../data/"

In [1]:
import numpy as np
import pandas as pd

### 1. TBA price

In [6]:
data_folder = '../data/'
# TBA price and cleaning
df = pd.read_csv(data_folder + "prc.csv")  
coupon_rates=df['coupon'].unique()
coupon_rates.sort()
df['Date']=pd.to_datetime(df['date'], format='%Y%m%d')
df.set_index('Date', inplace = True)
df=df.drop('date',axis=1)
df.head()

            coupon       price
Date
1996-01-02     5.5   89.130000
1996-01-02     6.0   96.562500
1996-01-02     6.5   98.742656
1996-01-02     7.0  100.731406
1996-01-02     7.5  102.362344

### 2. Issuance data and previously used index

In [27]:
# issuance
FN_issue = pd.read_csv(data_folder + "FN_issuance.csv") 
FN_issue.set_index('Date', inplace = True)

# Use Bankrate.com US Home Mortgage 30year Fixed Natinal Avg
rr_daily = pd.read_excel(data_folder + "ILM3NAVG_daily.xlsx") 
rr_daily.set_index('Date', inplace = True)
rr_daily.columns = ['Last rate', 'Mid rate']


TR_10 = pd.read_excel(data_folder + "USGG10YR.xlsx")
TR_10.set_index('Date', inplace = True)
TR_10.columns = ['10 year rate']

all_coupons = []
for s in FN_issue.columns:
    all_coupons.append(float(s.split()[4][:-1]))
    

print rr_daily.head()
print TR_10.head()
print "all coupons:"
print all_coupons
FN_issue.head()

            Last rate  Mid rate
Date
2017-08-08       3.80      3.80
2017-08-07       3.80      3.80
2017-08-04       3.81      3.81
2017-08-03       3.81      3.81
2017-08-02       3.82      3.82
            10 year rate
Date
2017-08-11        2.1888
2017-08-10        2.1975
2017-08-09        2.2476
2017-08-08        2.2619
2017-08-07        2.2530
all coupons:
[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0]

,FNMA Fixed 30 Year 2.0% Gross Issuance,FNMA Fixed 30 Year 2.5% Gross Issuance,FNMA Fixed 30 Year 3.0% Gross Issuance,FNMA Fixed 30 Year 3.5% Gross Issuance,FNMA Fixed 30 Year 4.0% Gross Issuance,FNMA Fixed 30 Year 4.5% Gross Issuance,FNMA Fixed 30 Year 5.0% Gross Issuance,FNMA Fixed 30 Year 5.5% Gross Issuance,FNMA Fixed 30 Year 6.0% Gross Issuance,FNMA Fixed 30 Year 6.5% Gross Issuance,FNMA Fixed 30 Year 7.0% Gross Issuance,FNMA Fixed 30 Year 7.5% Gross Issuance,FNMA Fixed 30 Year 8.0% Gross Issuance,FNMA Fixed 30 Year 8.5% Gross Issuance,FNMA Fixed 30 Year 9.0% Gross Issuance
Date,,,,,,,,,,,,,,,
31-Jul-02,NaN,NaN,0.0,0.0000,0.0,1.1741,8.4902,107.7425,5067.8094,17373.6379,2795.2402,616.4185,165.1371,35.1881,9.9125
30-Aug-02,NaN,NaN,0.0,0.8514,0.0,0.0000,18.1763,593.0991,15472.1435,13282.9243,2203.4081,763.5873,306.8991,59.3405,11.8367
30-Sep-02,NaN,NaN,0.0,0.0000,0.0,1.2342,75.2256,4713.2411,25516.5183,6373.0789,1171.7270,353.9793,160.4535,12.6750,2.4631
31-Oct-02,NaN,NaN,0.0,0.0000,0.0,2.2276,159.7902,11966.9975,28486.7656,9146.1959,1210.1325,332.0162,153.2407,3.9994,0.0000
29-Nov-02,NaN,NaN,0.0,0.0000,0.0,2.3620,365.9704,24149.3928,22040.7399,2160.4598,587.9082,329.4770,84.4263,6.4764,1.8141

### 3. Reference rate

In [12]:
# treasury rate approxy
CMMFIX=pd.read_excel(data_folder + "CMMFIX.xlsx",skiprows = 6) 
CMMFIX.sort_values(by='Date', axis=0, ascending=True,inplace=True) 
CMMFIX = CMMFIX.reset_index(drop=True)

# treasury rate approxy
MTGFNCL=pd.read_excel(data_folder + "MTGEFNCL.xlsx",skiprows = 5) 
MTGFNCL.sort_values(by='Date', axis=0, ascending=True,inplace=True) 
MTGFNCL = MTGFNCL.reset_index(drop=True)

rate_base_raw=pd.DataFrame(MTGFNCL.merge(CMMFIX,how='left', on="Date"),columns = ['Date','PX_LAST_x','PX_LAST_y'])

#the following data frame is the combination of all reference rate
rate_Base_raw=pd.DataFrame(rate_base_raw.merge(TR_10,how='left', on="Date"),columns = ['Date','PX_LAST_x','PX_LAST_y','PX_LAST'])
rate_Base_raw=rate_Base_raw.rename(columns={'PX_LAST_x': 'MTGFNCL', 'PX_LAST_y': 'CMMFIX','PX_LAST': 'TR'})

#This reference rate is mainly use MTGFNCL
rate_Base=rate_Base_raw[:][['Date','MTGFNCL']]
rate_Base.set_index('Date', inplace = True)

print rate_Base_raw.head()
print rate_Base.head()

        Date  MTGFNCL  CMMFIX      TR
0 2002-08-16     5.75     NaN  4.3244
1 2002-08-19     5.72     NaN  4.2838
2 2002-08-20     5.58     NaN  4.1475
3 2002-08-21     5.58     NaN  4.1971
4 2002-08-22     5.67     NaN  4.3166
            MTGFNCL
Date
2002-08-16     5.75
2002-08-19     5.72
2002-08-20     5.58
2002-08-21     5.58
2002-08-22     5.67

### 4. Combined dictionary with dataframes

The most important data structure is the TBAs.
This is a dictionary with dataframe for each coupon.

In [19]:
TBAs = {}
for i in np.arange(0, len(coupon_rates)):
    TBAs[coupon_rates[i]] = df[(df['coupon']==coupon_rates[i])].dropna()
    TBAs[coupon_rates[i]] = pd.concat([TBAs[coupon_rates[i]], rate_Base], axis=1, join='inner')
    TBAs[coupon_rates[i]]['Spread']  = coupon_rates[i] - TBAs[coupon_rates[i]]['MTGFNCL']
    TBAs[coupon_rates[i]]['Year'] = TBAs[coupon_rates[i]].index.year

print(type(TBAs))
print(len(TBAs))
print 'For coupon 4.5'
TBAs[4.5].head()

<type 'dict'>
27
For coupon 4.5

            coupon      price  MTGFNCL  Spread  Year
Date
2002-10-01     4.5  95.103125    5.390  -0.890  2002
2002-10-02     4.5  95.154167    5.342  -0.842  2002
2002-10-03     4.5  95.205208    5.345  -0.845  2002
2002-10-04     4.5  95.193750    5.358  -0.858  2002
2002-10-07     4.5  95.425000    5.321  -0.821  2002

### 5. From prices to returns

Since we are fitting the return against rate change. The dictionary params is the combinations of data frames with return and rate change.

In [33]:
params = {}
n = 20
for i in all_coupons:
    indexes = TBAs[i].index[n:]
    ret = (TBAs[i]['price'].values[n:] - TBAs[i]['price'].values[:-n])/TBAs[i]['price'].values[:-n]
    params[i] = pd.DataFrame({'Date':indexes, 'Return':ret})
    params[i].set_index('Date', inplace = True)
    params[i]['Rate Change'] = (TBAs[i]['Spread'].values[n:] - TBAs[i]['Spread'].values[:-n]) / 100

for c in all_coupons:
    print "current coupon: "+ str(c)
    print params[c].head()

current coupon: 2.0
              Return  Rate Change
Date
2012-06-29 -0.003136     -0.00043
2012-07-02  0.005407      0.00059
2012-07-03  0.013227      0.00045
2012-07-05  0.020189      0.00120
2012-07-06  0.025782      0.00123
current coupon: 2.5
              Return  Rate Change
Date
2010-08-30  0.012504      0.00255
2010-08-31  0.016218      0.00257
2010-09-01  0.014343      0.00224
2010-09-02  0.008395      0.00170
2010-09-03 -0.004377      0.00098
current coupon: 3.0
              Return  Rate Change
Date
2009-01-16 -0.020778      0.00057
2009-01-20 -0.007702     -0.00043
2009-01-21 -0.004008     -0.00046
2009-01-22 -0.011210      0.00012
2009-01-23  0.002336      0.00128
current coupon: 3.5
              Return  Rate Change
Date
2009-01-13  0.017023      0.00288
2009-01-14  0.019059      0.00403
2009-01-15  0.010497      0.00065
2009-01-16 -0.002879      0.00057
2009-01-20 -0.001002     -0.00043
current coupon: 4.0
              Return  Rate Change
Date
2003-06-17 -0.002485      0.00056
2003-06-18 -0.009088     -0.00096
2003-06-19 -0.000906      0.00032
2003-06-20 -0.001798     -0.00101
2003-06-23  0.002510      0.00053
current coupon: 4.5
              Return  Rate Change
Date
2002-10-30  0.001920      0.00012
2002-10-31  0.003840      0.00024
2002-11-01 -0.001382     -0.00071
2002-11-04 -0.005095     -0.00081
2002-11-05 -0.007471     -0.00123
current coupon: 5.0
              Return  Rate Change
Date
2002-09-16  0.023771       0.0038
2002-09-17  0.023378       0.0048
2002-09-18  0.014093       0.0026
2002-09-19  0.016153       0.0032
2002-09-20  0.019046       0.0042
current coupon: 5.5
              Return  Rate Change
Date
2002-09-16  0.016926       0.0038
2002-09-17  0.017233       0.0048
2002-09-18  0.009921       0.0026
2002-09-19  0.011657       0.0032
2002-09-20  0.014880       0.0042
current coupon: 6.0
              Return  Rate Change
Date
2002-09-16  0.013612       0.0038
2002-09-17  0.013964       0.0048
2002-09-18  0.008129       0.0026
2002-09-19  0.008863       0.0032
2002-09-20  0.010664       0.0042
current coupon: 6.5
              Return  Rate Change
Date
2002-09-16  0.007586       0.0038
2002-09-17  0.007965       0.0048
2002-09-18  0.004515       0.0026
2002-09-19  0.005817       0.0032
2002-09-20  0.007140       0.0042
current coupon: 7.0
              Return  Rate Change
Date
2002-09-16  0.005416       0.0038
2002-09-17  0.005632       0.0048
2002-09-18  0.003701       0.0026
2002-09-19  0.004683       0.0032
2002-09-20  0.005702       0.0042
current coupon: 7.5
              Return  Rate Change
Date
2002-09-16  0.002883       0.0038
2002-09-17  0.003625       0.0048
2002-09-18  0.002670       0.0026
2002-09-19  0.003732       0.0032
2002-09-20  0.004213       0.0042
current coupon: 8.0
              Return  Rate Change
Date
2002-09-16  0.001463       0.0038
2002-09-17  0.002452       0.0048
2002-09-18  0.001982       0.0026
2002-09-19  0.003122       0.0032
2002-09-20  0.003368       0.0042
current coupon: 8.5
              Return  Rate Change
Date
2002-09-16  0.000392       0.0038
2002-09-17  0.001240       0.0048
2002-09-18  0.000869       0.0026
2002-09-19  0.001599       0.0032
2002-09-20  0.002238       0.0042
current coupon: 9.0
              Return  Rate Change
Date
2002-09-16  0.000053       0.0038
2002-09-17  0.000581       0.0048
2002-09-18  0.000390       0.0026
2002-09-19  0.000864       0.0032
2002-09-20  0.000978       0.0042

The following dataframes or dictionaries are returned:

df, TBAs, params, all_coupons, rate_Base_raw, FN_issue, rate_Base